@media (min-width: 768px) {
    #nav-menu {
        display: flex; /* Show menu */
        flex-direction: row;
    }

    #nav-menu li {
        margin: 0 10px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
    }

    #hamburger {
        display: none; /* Hide hamburger on larger screens */
    }
}
